@charset "UTF-8";
   
@import url('https://fonts.googleapis.com/css2? family= Pirata+One & display=swap');


:root{
   --cor0:#4364B1;
   --cor1:#E19631;
   --cor2:#17161;


  --fonte-titulo:'Pirata One', cursiva;
  --texto: 'Phudu', cursiva;
}

  body{
   background-image:linear-gradient(to right,#ff910079,#171612e4) ;
}
main{
   background-color: rgba(250, 236, 209, 0.826);
   border-radius: 20px;
   margin: auto;
   border-radius: 25px;
   text-align: center;
   max-width: 800px;
   min-height: 320px;  

   
}
main.p{
   text-align:justify;
   size: 3em;
}
h1{
   color: #638ef191;
  font-family: var(--fonte-titulo);
  text-align: center;
  font-size: 3.5em;
}
p{
   text-indent: 20px;
   text-align:justify;
   padding: 10px;
   font-family: var(--texto);
   font-size: 1.4em;
   
}