@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}


@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');

:root{
    --fonte-destaque:'Bebas Neue';
}
body{
    background-image: linear-gradient(to right,#d46a14ee,#f1dd6cd9);
}
main{
    max-width: 800px;
    min-height:auto;  
    margin: auto;
    background-color: rgba(250, 236, 209, 0.826);
    border-radius: 22px;  
    padding-bottom: 10px;
        
}
 main > h1,h2{
    text-align: center;
    
    
 }
 main > p {
   
   font-family: 'Bebas Neue';
   text-indent: 18px;
   padding: 10px;
 }
 main > ul{
        text-decoration:none ;
    transition-duration: .5s;
    margin-bottom: 5px;
    columns:2;

 }
 a {
    text-decoration: none; 
 }
 a:hover{
    text-decoration:underline;
 }
  