@charset "UTF-8";
   
@import url('https://fonts.googleapis.com/css2? family= Pirata+One & display=swap');


:root{
      
      --cor0:#BF213E;
      --cor1:#52D5F2;
      --cor2:#22A2F2;
      --cor3:#FFD60A;
      


      --fonte-titulo:'Pirata One', cursiva;
      --texto: 'Phudu', cursiva;
}

  body{
  background-image: linear-gradient(to left,)
}
main{
   background: rgba(250, 236, 209, 0.826);;
   border-radius: 20px;
   margin: auto;
   border-radius: 25px;
   text-align: center;
   max-width: 800px;
   min-height: 320px;  

   
}
main > p{
   text-align:justify;
  font-size: 1.5m;
   text-indent: 18px;
   font-family: var(--fonte-titulo);
}
h1{
  font-family: var(--fonte-titulo);
  text-align: center;
  font-size: 3.5em;
  
   
}
div.video > iframe{
   height: 50%;
}
p{
   text-align:justify;
   width: px;
   padding: 10px;
   font-family: var(--texto);
   font-size: 1.4em;
   
}