@charset "UTF-8";
   
@import url('https://fonts.googleapis.com/css2? family= Pirata+One & display=swap');


:root{
   --cor0:#E3824D;
   --cor1:#549FA4;




  --fonte-titulo:'Pirata One', cursiva;
  --texto: 'Phudu', cursiva;}

  body{
   background-image:linear-gradient(to right,#E3824D,#549FA4) ;
}
main{
   background-color: rgba(250, 236, 209, 0.826);
   border-radius: 20px;
   margin: auto;
   border-radius: 25px;
   text-align: center;
   max-width: 800px;
   min-height: 320px;  

   
}
p{
  
}
h1{
   color: #f35c0bd5;
  font-family: var(--fonte-titulo);
  text-align: center;
  font-size: 3.5em;
  
   
}
div.video > iframe{
   height: 50%;
}
p{
   text-indent: 20px;
   text-align:justify;
   padding: 10px;
   font-family: var(--texto);
   font-size: 1.3em;
   
}
a {
   text-decoration: none;
   color:white;
}