@charset "UTF-8";
   
@import url('https://fonts.googleapis.com/css2? family= Pirata+One & display=swap');


:root{

  --cor0:#CCAE32;
  --cor1:#E25909;
  --cor2:#B0D7FF;


  --fonte-titulo:'Pirata One', cursiva;
  --texto: 'Phudu', cursiva;}

  body{
   background-image:linear-gradient(to right,#ffe066,#1057f2b9) ;
}
main{
   background-color: rgba(250, 236, 209, 0.826);
   border-radius: 20px;
   margin: auto;
   border-radius: 25px;
   text-align: center;
   max-width: 800px;
   min-height: 320px;  

   
}
main.p{
   text-align:justify;
   size: 3em;
}
h1{
   color: #ba9810b1;
  font-family: var(--fonte-titulo);
  text-align: center;
  font-size: 3.5em;
}
p{
   text-indent: 20px;
   text-align:justify;
   width: px;
   padding: 10px;
   font-family: var(--texto);
   font-size: 1.4em;
   
}